.left-arrow {
  border-color: transparent darkgray;
  border-style: solid;
  border-width: 20px 20px 20px 0px;
  height: 0px;
  width: 0px;
}
.right-arrow {
  border-color: transparent darkgrey;
  border-style: solid;
  border-width: 20px 0px 20px 20px;
  height: 0px;
  width: 0px;
}
.right-block {
  grid-column-start: 3;
  grid-column-end: 4;
}
.left-block {
  grid-column-start: 1;
  grid-column-end: 2;
}
