.left-arrow {
  border-color: transparent darkgray;
  border-style: solid;
  border-width: 20px 20px 20px 0px;
  height: 0px;
  width: 0px;
}
.right-arrow {
  border-color: transparent darkgrey;
  border-style: solid;
  border-width: 20px 0px 20px 20px;
  height: 0px;
  width: 0px;
}
.right-block {
  grid-column-start: 3;
  grid-column-end: 4;
}
.left-block {
  grid-column-start: 1;
  grid-column-end: 2;
}
.fading-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#808080+94,000000+100&1+96,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(128, 128, 128, 1) 94%,
    rgba(128, 128, 128, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(128, 128, 128, 1) 94%,
    rgba(128, 128, 128, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 1) 94%,
    rgba(128, 128, 128, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
