<div
  style="display:grid; grid-template-columns: auto 5px auto; max-width: 1000px; margin: 0 auto;"
>
  <div
    class="fading-gradient"
    style="grid-column-start:2;grid-column-end: 3; grid-row-start:1"
    [ngStyle]="{ 'grid-row-end': timeline.length + 1 }"
  >
    <span
      style="background-color: orange; height: 20px; width: 20px; position: absolute; z-index: 5; border-radius: 50%; left: calc(50% - 3px);"
    >
    </span>
    <span
      style="background-color: orange; height: 20px; width: 20px; position: absolute; z-index: 5; border-radius: 50%; left: calc(50% - 3px);"
    >
    </span>
  </div>
  <div
    *ngFor="let block of timeline; let i = index"
    style="margin-bottom: 16px;"
    [ngClass]="{ 'right-block': i % 2 === 1, 'left-block': i % 2 !== 1 }"
    [ngStyle]="{ 'grid-row-start': i + 1, 'grid-row-end': i + 2 }"
    fxLayout="row"
    fxLayoutAlign="center end"
  >
    <div class="left-arrow" *ngIf="i % 2 === 1"></div>
    <mat-card style="width: calc(100% - 20px)">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h2>
            {{ block.headline }}
          </h2>
          <small style="color:gray">{{ block.time }}</small>
        </div>
        {{ block.description }}
        <mat-chip-list>
          <mat-chip *ngFor="let tag of block.tags">
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
    <div *ngIf="i % 2 === 0" class="right-arrow"></div>
  </div>
</div>
